 :root {
 
 /* KWL */
     
 		
     --hac-orange: #f49525;
     --hac-grey: #333333;
     --hac-grey-dark: #282828;
     --hac-grey-medium: #6e6e6e;
     --hac-grey-light: #f2f2f3;
     --hac-green-dark: #2c8702;
     --hac-green-light: #dcedd2;
     --hac-purple: #7059a6;
     --hac-red: #cb0904;
     --hac-pink: #E83C66;
     --hac-blue: #00b8e4;
 }
 