 :root {
 
 /* KWL */
     
 		
     --hac-orange: #ffcc33;
     --hac-grey: #ffcc33;
     --hac-grey-dark: #ffcc33;
     --hac-grey-medium: #ffcc33;
     --hac-grey-light: #ffcc33;
     --hac-green-dark: #ffcc33;
     --hac-green-light: #ffcc33;
     --hac-purple: #ffcc33;
     --hac-red: #ffcc33;
     --hac-pink: #ffcc33;
     --hac-blue: #ffcc33;
 }
 